@font-face {
    font-family: "Flow";
    src: url("flow.ttf");
}

.flow {
    font-family: "Flow";
    font-size: 30px;
    text-align: right;
    min-width: 150%;
    min-height: 150%;
}
